/* Prefer an installed licensed copy; otherwise use the same-origin Worker/R2 asset. */
@font-face {
	font-family: "Söhne";
	src:
		local("Söhne"),
		url("/fonts/soehne-buch.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	font-feature-settings:
		"zero" 1,
		"tnum" 1;
}

@font-face {
	font-family: "Söhne";
	src:
		local("Söhne Kräftig"),
		url("/fonts/soehne-kraftig.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	font-feature-settings:
		"zero" 1,
		"tnum" 1;
}

@font-face {
	font-family: "Söhne";
	src:
		local("Söhne Bold"),
		url("/fonts/soehne-dreiviertelfett.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	font-feature-settings:
		"zero" 1,
		"tnum" 1;
}

@font-face {
	font-family: "Söhne Mono";
	src:
		local("Söhne Mono"),
		url("/fonts/soehne-mono-buch.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	font-feature-settings:
		"zero" 1,
		"tnum" 1;
}

@font-face {
	font-family: "Söhne Mono";
	src:
		local("Söhne Mono Halbfett"),
		url("/fonts/soehne-mono-halbfett.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
	font-feature-settings:
		"zero" 1,
		"tnum" 1;
}

@font-face {
	font-family: "Söhne Mono";
	src:
		local("Söhne Mono Bold"),
		url("/fonts/soehne-mono-dreiviertelfett.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	font-feature-settings:
		"zero" 1,
		"tnum" 1;
}
